APP_PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=job_bot

MAGNETO_TARGET_URL=https://www.magneto365.com/co/trabajos/buscar
SEARCH_INTERVAL_MS=180000
MAX_PAGES_PER_SEARCH=10
MAX_APPLICATIONS_PER_CYCLE=50
MIN_MATCH_SCORE=50

BROWSER_CHANNEL=chrome
USER_DATA_DIR=C:\Users\millo\AppData\Local\Google\Chrome\User Data
PROFILE_DIRECTORY=Default
HEADLESS=false
SLOW_MO_MS=80

CV_PATH=C:\Users\millo\Downloads\hoja de vida\cv_danilo.html

SEARCH_KEYWORDS=Developer,JavaScript,Python,Backend,Frontend,Node.js,React,Full Stack,Junior,Senior,Analyst,Engineer,Programmer
TARGET_LOCATIONS=Colombia,Bogota,Medellin,Remoto LATAM,Remoto Worldwide,Remoto,Cali,Barranquilla
PRIORITY_SKILLS=Developer,JavaScript,Python,Backend,Frontend,Node.js,React,TypeScript,Junior,Senior,Analyst,Engineer,SQL,APIs
